*{
    margin: 0;
    padding: 0;
}
body{
    font-family: "DM Mono", monospace;
    background-color: #f5f5f5;
}
.logo{
    /* font-family: "Kalnia Glaze", serif; */
    color: white;
}

#navigation{
    background-image: linear-gradient(dodgerblue, #3702a9);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 100px;
    transition: .5s linear;
}
#navigation:hover .logotext {
    color: red;
}
.meneContainer{
    display: flex;
}
.meneContainer > li{
    list-style: none;
    padding:15px 5px;
    margin: -5px;
}

.meneContainer > li > a{
    text-decoration: none; 
    color: white;
    border-right: 1px solid white;
    padding: 10px 15px;
    transition: .6s linear;
}
.meneContainer > li:hover > a{
    background-color: darkblue;
}
.meneContainer >li:first-child  {
    border-left: 1px solid white;
}

/* dropdown menu add here */
.submenu{
    opacity: 0;
    visibility: hidden;
    background-image: linear-gradient(dodgerblue, #3702a9);
    position: absolute;
    margin-top: 10px;
    border-radius: 0px 0px 10px 10px;
    transition: .3s all;
    transform: scaleY(0);
    transform-origin: top center;
}
.submenu > li{
    list-style: none;
    border-bottom: 1px solid white;
    padding: 10px;
    transition: .6s all;
}
.submenu > li:hover{
    background-image: linear-gradient(#3702a9, dodgerblue);
    border-radius: 10px;
}
.submenu > li:first-child{
    border-top: 1px solid white;
}
.submenu > li > a{
    text-decoration: none;
    color: white;
    padding: 10px;
}
.hovers:hover .submenu{
    opacity: 1;
    visibility: visible;
    transform: scaleY(1);
}
/* nav bar area end  */

/* hero area start here  */
