*{
    margin: 0;
    padding: 0;
}
body{
    font-family: "DM Mono", monospace;
    background-color: #f2f2f2;
}
.logo{
    /* font-family: "Kalnia Glaze", serif; */
    color: white;
}
#navigation{
    background-image: linear-gradient(dodgerblue, #3702a9);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 100px;
    transition: .5s linear;
    position: sticky;
    top: 0;
}
#navigation:hover .logotext {
    color: red;
}
.meneContainer{
    display: flex;
}
.meneContainer > li{
    list-style: none;
    padding:15px 5px;
    margin: -5px;
}

.meneContainer > li > a{
    text-decoration: none; 
    color: white;
    border-right: 1px solid white;
    padding: 10px 15px;
    transition: .6s linear;
}
.meneContainer > li:hover > a{
    background-color: darkblue;
}
.meneContainer >li:first-child  {
    border-left: 1px solid white;
}
/* dropdown menu add here */
.submenu{
    opacity: 0;
    visibility: hidden;
    background-image: linear-gradient(dodgerblue, #3702a9);
    position: absolute;
    margin-top: 10px;
    border-radius: 0px 0px 10px 10px;
    transition: .3s all;
    transform: scaleY(0);
    transform-origin: top center;
}
.submenu > li{
    list-style: none;
    border-bottom: 1px solid white;
    padding: 10px;
    transition: .6s all;
}
.submenu > li:hover{
    background-image: linear-gradient(#3702a9, dodgerblue);
    border-radius: 10px;
}
.submenu > li:first-child{
    border-top: 1px solid white;
}
.submenu > li > a{
    text-decoration: none;
    color: white;
    padding: 10px;
}
.hovers:hover .submenu{
    opacity: 1;
    visibility: visible;
    transform: scaleY(1);
}
/* nav bar area end  */

/* hero area start here  */
.main-header{
    background-image: linear-gradient(rgba(0, 0, 0, 0.183) ,rgba(0, 0, 0, 0.6)), url('img/91925.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    text-align: center;
    height: 94vh;
    color: white;
}
.header-container{
    padding-top: 250px;
}
#peopleName{
    width: 500px;
    border-bottom: 2px solid white;
    margin: 20px auto;
    font-size: 50px;
    color: white;
    background-color: #4900e792;
    padding-bottom: 10px;
    border-radius: 10px;
    overflow: hidden;
}
.btn{
    padding: 10px 20px;
    margin-top: 20px ;
    background-color: green;
    color: white;
    font-size: 1.2rem;
    border-radius: 10px 0;
    cursor: pointer;
    box-shadow: -4px -4px 2px rgb(0, 0, 0);
    transition: .5s all;
}
.btn:hover{
    box-shadow: 4px 4px 2px rgb(0, 0, 0);
    background-color: #10fb6e;
    border-radius: 0 10px ;
    color: black;
}
.btn:active{
    box-shadow: none;
    background-color: #00000028;
    color: white;
}
/* header part all done and end here */

/* main section 1 start now  */

.first-Container{
    display: flex;
    gap: 50px;
    width: 90%;
    margin: 60px auto;
}
.box{
    text-align: center;
    padding: 40px 0;
    border-radius: 5px;
    transition: .5s all;
}
.box:hover{
    box-shadow: 3px 3px 5px gray;
    background-color: #ffffff;
}
.box:hover .customIcons{
    color: green;
}
.box:hover .boxheaderText{
    color: dodgerblue;
}
.boxheaderText{
    margin: 20px;
}
.customIcons{
    font-size: 50px;
}

/* main section 2 start here */
.sectinTwoContainer{
    dis
    
}
.SectionTwoImg{
    background-color: red;
}
.SectionTwoImg > img{
    width: 500px;
}